{% extends 'base.html' %}

{% block title %}
Список лучших альбомов
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Акустический Альбом</h5>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Камнем по голове</h5>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Как в старой сказке...</h5>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Будь как дома, Путник...</h5>
        </div>
    </div>
  </div>
</div>
{% endblock %}